<%- include ('./partials/header') %>

<main class="mx-auto text-center">
  <%- include ('./partials/alert.ejs') %>
  <header
    class="flex flex-col md:flex-row justify-start md:space-x-8 space-y-4 md:space-y-0"
  >
    <div class="md:basis-1/2 text-left py-32 md:py-28 px-5 md:px-10">
      <h1
        class="text-5xl md:text-7xl basis-3/5 text-slate-100 font-bold tracking-tighter"
      >
        Coming Soon
      </h1>
      <p class="mx-auto font-light text-slate-300">
        Our app will be fully functional and available on the playstore and app
        store as soon as we hit the Quantum Financial System
      </p>
    </div>
  </header>
</main>
<%- include ('./partials/footer') %>
