<%- include ('../partials/header') %>
<main>
  <section class="flex flex-col md:flex-row justify-center items-center py-10">
    <div class="md:basis-1/2 self-stretch order-2 md:order-1 md:mb-5">
      <form
        class="form w-full md:w-full px-4 md:px-12 py-8"
        action="/u/signin"
        method="POST"
      >
        <div class="my-6 text-center">
          <h3 class="inline-block font-semibold text-3xl text-slate-50 my-1">
            Sign In
          </h3>
        </div>

        <%- include ('../partials/alert') %>

        <div class="grid grid-cols-12 gap-3 md:gap-4">
          <div class="col-span-12">
            <input
              type="email"
              name="email"
              id="email-address"
              required
              placeholder="Email address"
              class="bg-transparent text-slate-50 font-semibold text-sm px-4 mt-1 focus:ring-rose-300/90 focus:border-rose-300/90 block w-full h-12 md:h-10 shadow-sm border-gray-300 transition duration-300 rounded-full"
            />
          </div>
          <div class="col-span-12">
            <input
              type="password"
              name="password"
              id="password"
              required
              placeholder="Password"
              class="bg-transparent text-slate-50 font-semibold text-sm px-4 mt-1 focus:ring-rose-300/90 focus:border-rose-300/90 block w-full h-12 md:h-10 shadow-sm border-gray-300 transition duration-300 rounded-full"
            />
          </div>
          <div class="col-span-12">
            <div class="flex items-center justify-between">
              <div>
                <input
                  id="default-checkbox"
                  type="checkbox"
                  value=""
                  class="w-4 h-4 text-rose-500 bg-white border-gray-300 rounded focus:ring-rose-500 focus:ring-2"
                />
                <label
                  for="default-checkbox"
                  class="ml-1 text-sm font-medium text-gray-200 tracking-tight"
                  >Remember me</label
                >
              </div>

              <p class="text-sm font-medium text-gray-400 my-2 tracking-tight">
                <a class="text-rose-500" href="/u/forgot">Forgot Password ?</a>
              </p>
            </div>
          </div>

          <div class="col-span-12">
            <button
              id="submit-btn"
              type="submit"
              class="flex justify-between items-center w-full text-black font-semibold py-3 px-8 bg-white text-sm transition-all my-2 rounded-full"
            >
              Sign In
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 ml-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                />
              </svg>
            </button>
          </div>
          <div class="col-span-12">
            <p class="text-sm font-medium text-gray-200">
              Don't Have An Account ?
              <a class="text-rose-500" href="/u/signup">Sign Up</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>

<%- include ('../partials/footer') %>
