<%- include ('../partials/dashboard-header.ejs') %>

<div class="flex flex-col flex-wrap justify-center md:flex-row my-10">
  <% if(currentUser.isKYCVerified === false && currentUser.hasKycDocuments ===
  false) { %>
  <form
    class="p-2 overflow-hidden sm:rounded-md basis-2/4"
    action="/account/kyc"
    enctype="multipart/form-data"
    method="POST"
  >
    <div class="flex items-center space-x-2 mx-4">
      <p class="text-purple-50 text-3xl md:text-2xl font-semibold">
        Verify your identity
      </p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 text-slate-200"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
        />
      </svg>
    </div>

    <div>
      <div class="px-4 py-5">
        <div class="grid grid-cols-6 gap-4 md:gap-6">
          <div class="grid grid-cols-12 gap-x-4 gap-y-4 col-span-6">
            <div class="col-span-12">
              <input
                type="file"
                name="image"
                id="image"
                accept="image/*"
                class="text-white px-3 placeholder:text-lg placeholder-zinc-500 w-full bg-transparent font-semibold text-lg mt-1 focus:ring-black focus:border-purple-300 block h-12 border border-purple-50 rounded-md transition duration-300 placeholder:text-gray-500"
              />
            </div>
            <div class="col-span-12">
              <p class="text-base font-medium text-gray-400">
                Valid identity card (eg. Driver's license, international
                passport or any government approved document).
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="px-4 py-3">
        <button
          id="submit-btn"
          type="submit"
          class="w-full text-base font-medium transition-all duration-300 px-5 py-3 rounded-md text-purple-100 bg-gray-800 border border-purple-200 hover:bg-gray-900"
        >
          Continue
        </button>
      </div>
    </div>
  </form>
  <% } else if(currentUser.hasKycDocuments === true && currentUser.isKYCVerified
  === false ){ %>
  <section
    class="basis-3/5 bg-orange-200 self-stretch md:self-start items-center rounded-xl m-4 py-10 px-6"
  >
    <div class="flex flex-col justify-between space-y-3 items-start">
      <div class="flex flex-col self-start">
        <p class="text-gray-600 text-base md:text-sm font-semibold">
          Your verificcation documents have been received and your verification
          is pending. Please wait while we review
        </p>
      </div>
      <div class="flex space-x-3 items-center">
        <a
          class="text-black-100 shadow-sm flex items-center justify-between text-sm font-semibold px-3 py-2 rounded-xl bg-gray-50"
          href="#"
        >
          Pending
        </a>
        <img class="w-10" src="/images/clock.png" alt="" />
      </div>
    </div>
  </section>
  <% } else if(currentUser.isKYCVerified === true) { %>
  <section
    class="basis-3/5 bg-green-300 self-stretch md:self-start items-center rounded-xl m-4 py-10 px-6"
  >
    <div class="flex flex-col justify-between space-y-3 items-start">
      <div class="flex flex-col self-start">
        <p class="text-gray-600 text-base md:text-sm font-semibold">
          Your identity has been verified.
        </p>
      </div>
      <div class="flex space-x-3 items-center">
        <a
          class="text-black-100 shadow-sm flex items-center justify-between text-sm font-semibold px-3 py-2 rounded-xl bg-gray-50"
          href="#"
        >
          Verified
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 ml-1 text-green-600"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
            />
          </svg>
        </a>
      </div>
    </div>
  </section>
  <% } %>
</div>

<%- include ('../partials/dashboard-footer.ejs') %>
