<%- include ('../partials/dashboard-header.ejs') %>

<div class="relative flex flex-col flex-wrap justify-center my-10 mx-8">
  <div class="w-full md:w-2/4 md:mx-auto">
    <h1
      class="font-extrabold text-green-500 text-2xl leading-tight tracking-wide md:text-3xl"
    >
      Successfully submitted connection request 🎉
    </h1>
    <p class="font-medium">
      We received your request & we will be in touch shortly!
    </p>
  </div>
</div>
<%- include ('../partials/dashboard-footer.ejs') %>
